<div class="modal d-block">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Do you really want to delete this item?</h5>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="onClickCloseButton()"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="onClickDeleteButton()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
