<app-modal [modalId]="id" title="Edit">
  <form (ngSubmit)="onFormSubmit(form)" #form="ngForm">
    <div class="mb-3">
      <label for="val" class="col-form-label">Value:</label>
      <input
        type="number"
        class="form-control"
        id="val"
        [ngModel]="defaultValue"
        name="value"
        required
        pattern="^-?[1-9]\d*$"
      />
    </div>
    <div class="mb-3">
      <label for="desc" class="col-form-label">Description:</label>
      <textarea
        class="form-control"
        id="desc"
        [ngModel]="defaultDescValue"
        name="description"
        required
      ></textarea>
    </div>
    <button class="btn btn-primary" [disabled]="!form.valid">Update</button>
  </form>
</app-modal>
